extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
  .container.my-3
    .row
      .col-12
        +box-head("Chat")

    .row
      .col-12
        .chat
          .inner-body
            each chat in chats
              div(class=(chat.user_id.toString() === user.id.toString() ? "inner-outgoing" : "inner-incoming"))
                if(chat.user_id.toString() !== user.id.toString())
                  .inner-name #{chat.infoUser.fullName}
                .inner-content #{chat.content}

          .inner-foot
            form.inner-form(
                class="inner-form"
                action="")
              input(
                type="text"
                placeholder="Nhập nội dung..."
                name="content"
              )
              button(type="submit")
                i.fa-solid.fa-paper-plane